:root {
  --black: #110229;
  --purple: #585981;
  --grey: #8f90a6;
  --blue: #1daeff;
  --light-grey: #dcdceb;
}

body {
  font-family: "Montserrat";
  color: var(--black);
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 44px 120px 108px 120px;
}

a {
  color: black;
  text-decoration: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu-items {
  display: flex;
  align-items: center;
  position: relative;
  left: 25px;
}

.nav__menu-items li {
  font-weight: 500;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav__menu-items li > a {
  display: inline-block;
  padding: 15px;
}

.nav__menu-items > .nav__log-in {
  border: 2px solid #1daeff;
  border-radius: 14px;
  color: var(--blue);
  transition: 0.2s;
}

.nav__menu-items > .nav__log-in > a {
  color: inherit;
  padding: 15px 37px;
  font-weight: 600;
}

.nav__menu-items > .nav__log-in:hover {
  background-color: var(--blue);
  color: white;
}

#hero {
  background-image: url(../images/Banner.png);
  width: calc(100% + 100px);
  height: 634px;
  margin: 38px 0 0 -50px;
}

.hero__wrapper {
  padding: 92px 0 0 89px;
}

.hero__texts {
  width: 522px;
}

.hero__texts h1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 600;
}

.hero__texts p {
  font-size: 22px;
  line-height: 36px;
  margin-top: 49px;
  color: var(--purple);
}

.hero__search-container {
  margin-top: 62px;
}

.hero__search-tabs-container {
  display: flex;
}

.hero__search-tab {
  padding: 0 28px;
  line-height: 38px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--grey);
  letter-spacing: 0.2em;
  cursor: pointer;
}

.selected {
  border-radius: 15px 15px 0px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: var(--black);
}

.hero__search-bar {
  display: flex;
  padding: 20px 29px;
  width: fit-content;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 0 20px 20px 20px;
}

.search-bar__criteria {
  line-height: 36px;
  position: relative;
  cursor: pointer;
  margin-left: 35px;
}

.search-bar__location {
  margin-left: 0;
}

.search-bar__criteria p:nth-of-type(1) {
  font-weight: 600;
  font-size: 18px;
}

.search-bar__criteria p:nth-of-type(2) {
  color: var(--grey);
}

p .fas {
  margin: 0 20px 0 46px;
  color: var(--grey);
}

.line {
  border-left: 2px solid #dcdceb;
  height: 48px;
  position: absolute;
  top: calc(50% - 48px / 2);
  right: 0;
}

.search-bar__submit {
  margin-left: 104px;
}

.search-bar__button {
  background-color: var(--blue);
  height: 54px;
  width: 54px;
  border-radius: 15px;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  border: none;
  cursor: pointer;
}

.search-bar__button:active {
  filter: brightness(110%);
}

.search-bar__button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
}

.countries {
  margin-top: 107px;
}

.countries__title {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  line-height: 46px;
}

.countries__wrapper {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.countries__country {
  width: 278px;
  height: 426px;
  background-size: cover;
}

.countries__wrapper a:nth-of-type(1) .countries__country {
  background-image: url(../images/America.png);
}

.countries__wrapper a:nth-of-type(2) .countries__country {
  background-image: url(../images/Spain.png);
}

.countries__wrapper a:nth-of-type(3) .countries__country {
  background-image: url(../images/UK.png);
}

.countries__wrapper a:nth-of-type(4) .countries__country {
  background-image: url(../images/France.png);
}

.countries__country p {
  text-align: center;
  padding-top: 49px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.recent {
  margin-top: 143px;
}

.recent__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.recent__header h2 {
  line-height: 46px;
  font-size: 38px;
  font-weight: 500;
}

.recent__header a {
  color: var(--blue);
  font-size: 24px;
  font-weight: 500;
}

.recent__listings-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.recent__listing {
  display: flex;
  border: 1.5px solid var(--light-grey);
  border-radius: 30px;
  padding: 29px 31px 29px 36px;
}

.recent__listing:hover {
  border-color: var(--blue);
  box-shadow: 0px 17px 50px rgba(143, 144, 166, 0.32);
  transition: 0.2s;
}

.recent__listing:hover .listing-desc__price {
  background-color: var(--blue);
  transition: 0.2s;
}

.recent__listing-desc {
  margin-left: 36px;
  color: var(--grey);
  font-size: 19px;
  font-weight: 500;
}

.recent__listing-desc h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: var(--black);
}

.listing-desc__features {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  line-height: 23px;
}

.listing-desc__details {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.listing-desc__price {
  background-color: var(--grey);
  padding: 9px 17px;
  color: white;
  border-radius: 10px;
}

.contact {
  margin: 120px 0 0 -50px;
  width: calc(100% + 100px);
  height: 482px;
  background-image: url("../images/contact-bg.png"),
    linear-gradient(#c3dfed, #dff0f7);
  background-repeat: no-repeat;
  background-position: 100%;
  border-radius: 50px;
}

.contact__texts {
  width: 45%;
  padding: 89px 0 65px 86px;
}

.contact__texts h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
}

.contact__texts p {
  margin-top: 37px;
  font-size: 22px;
  line-height: 36px;
  color: var(--purple);
}

.contact__button {
  display: flex;
  height: 50px;
  width: 213px;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: white;
  background-color: var(--blue);
  border-radius: 14px;
  box-sizing: border-box;
  border: 3px solid var(--blue);
}

.contact__button:hover {
  color: var(--blue);
  background-color: white;
  transition: 0.2s;
}

footer {
  margin-top: 97px;
  display: grid;
  grid-template-columns: 1.65fr 0.8fr 0.8fr 1fr;
}

.footer__desc-text {
  width: 410px;
  line-height: 31px;
  margin-top: 27px;
  font-size: 14px;
  color: var(--grey);
}

.footer__desc-social-media {
  font-size: 22px;
}

.fab {
  margin-right: 27px;
}

.footer__desc-copyright {
  margin-top: 35px;
  color: var(--grey);
  font-size: 13px;
}

.footer__pages {
  justify-self: center;
}

.footer__element-title {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer__pages-page {
  line-height: 52px;
  font-size: 18px;
  color: var(--black);
}

.footer__newsletter-desc {
  color: var(--grey);
  line-height: 23px;
  font-size: 14px;
  margin-top: 25px;
}

.footer__newsletter-form {
  position: relative;
  margin-top: 22px;
}

.footer__newsletter-input {
  border: 2px solid #d0d0e3;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 53px;
  padding-left: 15px;
}

.footer__newsletter-input::placeholder {
  color: var(--grey);
  font-family: "Montserrat";
}

.footer__newsletter-btn {
  position: absolute;
  top: 26.5px;
  right: 12px;
  transform: translate(0, -50%);
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  cursor: pointer;
}

/* mobile section */

.nav__side-menu-btn {
  display: none;
}

.dark-layer-active {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .nav__side-menu-btn {
    display: block;
    position: relative;
    right: 0;
    cursor: pointer;
    font-size: 18px;
  }

  .nav__menu-items {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 14%;
    transform: translate(100%, 0);
    background-color: white;
    padding-top: 26px;
    transition: 0.2s;
    z-index: 20;
  }

  .nav__menu-items li {
    margin-top: 20px;
  }
}

.side-menu-active {
  transform: translate(0, 0);
}
