body {
  font-family: "Montserrat";
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 44px 120px 108px 120px;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
}

li {
  list-style: none;
  font-weight: 500;
  margin-left: 60px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

li > a {
  display: inline-block;
  padding: 15px;
}

.log-in-nav {
  border: 1px solid #1daeff;
  border-radius: 14px;
}

.log-in-nav > a {
  color: #1daeff;
  padding: 15px 37px;
}

#hero-section {
  background-image: url(../images/Banner.png);
  width: calc(100% + 100px);
  height: 634px;
  margin-left: -50px;
  background-size: unset;
  margin-top: 38px;
}

.hero-wrapper {
  position: relative;
  top: 92px;
  left: 89px;
}

.hero-texts {
  width: 522px;
}

.hero-texts h1 {
  font-size: 56px;
  line-height: 68px;
}

.hero-texts p {
  font-size: 22px;
  line-height: 36px;
  margin-top: 49px;
}
